<template>
    <span>
        <v-navigation-drawer
            app
            v-model="drawer"
            class="brown lighten-2"
            dark
            disable-resize-watcher
        >
            <v-list>
                <template v-for="(item, index) in items">
                    <v-list-tile :key="index">
                        <v-list-tile-content>
                            {{ item.title }}
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-divider :key="`divider-${index}`"></v-divider>
                </template>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar fixed color="#459dcc" dark>
            <v-toolbar-title>
                <v-btn color="#459dcc">
                    <v-img
                        max-height="55"
                        max-width="37"
                        src="../assets/logo-sociego.png"
                    >
                    </v-img>
                </v-btn>
            </v-toolbar-title>
            <v-spacer class="hidden-md-and-up"></v-spacer>
            <v-app-bar-nav-icon
                class="hidden-md-and-up"
                v-on:click="drawer = !drawer"
            >
            </v-app-bar-nav-icon>

            <v-spacer class="hidden-sm-and-down"></v-spacer>
            <div v-for="n in items" :key="n">
                <v-btn
                    flag
                    class="hidden-sm-and-down cyan--text ml-4"
                    color="white"
                >
                    {{ n.title }}
                </v-btn>
            </div>
        </v-app-bar>
    </span>
</template>

<script>
export default {
    name: 'AppNavigation',
    data() {
        return {
            appTitle: 'Sociego',
            drawer: false,
            items: [
                { title: 'Menu' },
                { title: 'Impacters' },
                { title: 'Co-pilotes' },
                { title: 'About' }
            ]
        };
    }
};
</script>

<style scoped></style>
