<template>
    <span>
        <v-container fluid>
            <v-row row wrap justify-center>
                <v-col
                    xs12
                    md6
                    v-for="mission in missions"
                    :key="mission"
                    cols="4"
                    sm="4"
                >
                    <v-hover>
                        <v-card
                            outlined
                            align="center"
                            class="word-break: break-word center--text"
                        >
                            <div>
                                <v-icon
                                    large
                                    class="mt-5"
                                    :color="mission.color"
                                    >mdi-{{ mission.icon }}</v-icon
                                >
                                <v-chip
                                    v-if="mission.choice"
                                    label
                                    :input-value="mission.choice"
                                    filter
                                ></v-chip>
                            </div>
                            <!-- <img :src="BASEPATH + mission.url"> -->
                            <p class="mt-3 word-break: break-word">
                                {{ mission.title }}
                            </p>
                            <div align="center"></div>
                            <p class="word-break: break-word">
                                {{ mission.description }}
                            </p>
                            <v-card-actions class="justify-center">
                                <div>
                                    <v-btn
                                        text
                                        dark
                                        light
                                        retain-focus-on-click
                                        elevation="0"
                                        v-model="mission.picked"
                                        @click="
                                            mission.picked = !mission.picked
                                        "
                                    >
                                        <v-chip
                                            v-if="!mission.picked"
                                            color="#459dcc"
                                        >
                                            add
                                        </v-chip>
                                        <v-chip
                                            v-else-if="mission.picked"
                                            color="white"
                                        >
                                            <v-avatar>
                                                <v-icon large color="green"
                                                    >mdi-checkbox-marked-circle</v-icon
                                                >
                                            </v-avatar>
                                        </v-chip>
                                    </v-btn>
                                </div>
                            </v-card-actions>
                        </v-card>
                    </v-hover>
                </v-col>
            </v-row>
        </v-container>
    </span>
</template>

<script>
export default {
    name: 'HomeMissions',
    data() {
        return {
            BASEPATH: '../assets/',

            missions: [
                {
                    title: 'conseil stratégique et financier',
                    description: 'zebaistovezebèaiste',
                    picked: false,
                    id: 1,
                    icon: 'key',
                    color: '#21652d'
                },
                {
                    title: 'levée de fonds et financement',
                    description: '',
                    picked: false,
                    id: 2,
                    icon: 'diamond',
                    color: '#3d4569'
                },
                {
                    title: 'business development',
                    description: '',
                    picked: false,
                    id: 3,
                    icon: 'bullseye',
                    color: '#f74444'
                },
                {
                    title: 'pitch deck et supports commerciaux',
                    description: '',
                    picked: false,
                    id: 4,
                    icon: 'hand',
                    color: '#afce93'
                },
                {
                    title: 'business plan financier et sociétal',
                    description: '',
                    picked: false,
                    id: 5,
                    icon: 'finance',
                    color: '#459dcc'
                },
                {
                    title: 'études et plan marketing',
                    description: '',
                    picked: false,
                    id: 6,
                    icon: 'cart',
                    color: '#f77124'
                },
                {
                    title: 'création de sites internet',
                    description: '',
                    picked: false,
                    id: 7,
                    icon: 'at',
                    color: '#50baa3'
                },
                {
                    title: 'graphisme et identité visuelle',
                    description: '',
                    picked: false,
                    id: 8,
                    icon: 'palette',
                    color: '#8f659f'
                },
                {
                    title: 'construction de partenariats',
                    description: '',
                    picked: false,
                    id: 9,
                    icon: 'charity',
                    color: '#e6b83e'
                }
            ]
        };
    }
};
</script>
