<template>
    <v-container class="headline display-3 mt-5">
        <div class="display-3">
            <div class="text-center mb-8">
                Au service de votre impact
            </div>
            <v-row justify="space-around">
                <v-col 
                    v-for="role in roles"
                    :key="role"
                    :md="6"
                    cols="6"
                    :sm="6"
                    justify="center--text"
                >
                    <v-card class="text-center">
                        <v-card-title>
                            {{ role.title }}
                        </v-card-title>
                        <v-card-text>
                            {{ role.description }}
                        </v-card-text>
                        <div align="center">
                            <v-btn
                                fab
                                class="mb-5"
                                v-if="role.active === false"
                                @click="role.active = !role.active"
                                :input-value="role.active"
                            >
                                GO
                            </v-btn>
                            <v-btn
                                fab
                                class="mb-5"
                                v-else-if="role.active"
                                color="green"
                                @click="role.active = !role.active"
                                :input-value="role.active"
                            >
                                GO
                            </v-btn>
                        </div>
                        <v-spacer></v-spacer>
                    </v-card>
                </v-col>
            </v-row>
        </div>
        <div class="mt-5 ma-2 text-center" justify="left" label filter>
            <v-chip
                v-if="watchErr(roles[0].active, roles[1].active) == false"
                color="red"
            >
                Vous ne pouvez pas être talent et startup à la fois
            </v-chip>
            <div v-for="role in roles" :key="role">
                <v-chip
                    v-if="
                        role.active &&
                            watchErr(roles[0].active, roles[1].active)
                    "
                    color="primary"
                >
                    {{ role.label }}
                </v-chip>
            </div>
        </div>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            error: false,
            roles: [
                {
                    name: 'start-up / asso',
                    title: 'START-UP / ASSO',
                    description:
                        "L'impact nous est cher et nous souhaitons l'encourager. Permettez-nous de vous épauler dans ce que nous faisons de mieux. Stay cool and do the sh**",
                    active: false,
                    label:
                        "Vénérable source d'impact, comment pouvons-nous vous aider?"
                },
                {
                    name: 'talent',
                    title: 'TALENT',
                    description:
                        'Tes talents seront appréciés là où ils sont le plus nécessaires. Célébrons notre eusocialité et comportons nous, telles des fourmis, en fonction des besoins de la fourmillière. For the greater good.',
                    active: false,
                    label:
                        'Bienvenue jeune padawan, comment peux-tu nous aider?'
                }
            ]
        };
    },
    methods: {
        watchErr(role1, role2) {
            if (role1 == true && role2 == true) return false;
            else return true;
        }
    }
};
</script>

<style scoped></style>
