<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 class="text-center display-1 cyan--text my-5">
                Nous accompagnons ceux qui mènent le changement <br />
                Trois valeurs font notre miel
            </v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs12 sm12 md4 v-for="value in values" :key="value">
                <v-card>
                    <div class="mb-3 mt-3" align="center">
                        <v-icon class="mt-5" :color="value.iconColor" x-large
                            >mdi-{{ value.icon }}
                        </v-icon>
                    </div>
                    <v-card-title primary-title class="justify-center">
                        <div>
                            <h3
                                class="headline mb-2 font-weight-bold cyan--text"
                            >
                                {{ value.name }}
                            </h3>
                        </div>
                    </v-card-title>
                    <v-card-text align="center">
                        <p class="word-break: break-word headline black--text">
                            {{ value.description }}
                        </p>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data() {
        return {
            name: 'HomePlans',
            values: [
                {
                    name: 'Résilience',
                    description: 'Savoir faire face à des enjeux complexes',
                    icon: 'triforce',
                    iconColor: '#e6b83e'
                },
                {
                    name: 'Pragmatisme',
                    description: "Passer rapidement des idées à l'action",
                    icon: 'flash-circle',
                    iconColor: '#F74444'
                },
                {
                    name: 'Entraide',
                    description:
                        'Seul on plus va vite, ensemble on va plus loin !',
                    icon: 'account-group',
                    iconColor: '#AFCE93'
                }
            ]
        };
    }
};
</script>

<style scoped></style>
