<template>
    <v-container fluid>
        <v-card>
            <v-btn> Je suis un bouton qui bientôt sera un script </v-btn>
        </v-card>
    </v-container>
</template>

// <script>
// export default {
//     methods: {
//         insertDataInMongo(db, collName, data, callback) {
//             const assert = require('assert');
//             const collection = db.collection(collName);
//             collection.insert([data], function(err, result) {
//                 assert.equal(1, result.result.n);
//                 assert.equal(1, result.ops.length);
//                 console.log('Inserted your data properly');
//                 callback(result);
//             });
//         },
//         inputData(data) {
//             const MongoClient = require('mongodb');
//             const uri = 'mongodb://alban:test@51.91.103.104:27017/sociego';
//             const collName = 'sociego';
//             MongoClient.connect(
//                 uri,
//                 { useNewUrlParser: true, useUnifiedTopology: true },
//                 function(err, client) {
//             //      assert.equal(null, err);
//                     console.log('Connected successfully to server');
//                     const db = client.db(collName);
//                     this.insertDataInMongo(db, collName, data, function() {
//                         //removeDocuments(db, collName, function() {
//                         //findDocuments(db, collName, function() {
//                         client.close();
//                         //});
//                         //});
//                     });
//                 }
//             );
//         }
//     }
// };
// </script>

<style scoped></style>
