<template>
    <v-container fluid fill-height class="home-hero">
        <v-layout justify-center align-center column pa-5>
            <div class="display-4 font-weight-black cyan--text text-xs-center">
                FARM IMPACT
            </div>
            <div
                class="display-4 
                font-weight-black 
                cyan--text
                text-xs-center mb-3"
            ></div>
            <div class="display-1 font-weight-bold white--text text-xs-center">
                contribuons ensemble à l'économie du bonheur
            </div>
            <div class="py-12"></div>
            <v-btn @click="$vuetify.goTo(742, 42)" fab class="mt-5 white">
                <v-icon color="cyan" x-large>mdi-arrow-down-bold</v-icon>
            </v-btn>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomeHero',
    offsetTop: 0,
    methods: {
        onScroll(e) {
            this.offsetTop = e.target.scrollTop;
        }
    },
    computed: {
        target() {
            const value = this[this.type];
            if (!isNaN(value)) return Number(value);
            else return value;
        },
        options() {
            return {
                duration: this.duration,
                offset: this.offset,
                easing: this.easing
            };
        }
    }
};
</script>

<style scoped>
.home-hero {
    background: url('https://ichef.bbci.co.uk/news/976/cpsprodpb/10ECF/production/_107772396_treesmall.jpg');
    background-size: cover;
    width: 100%;
    height: 30%;
}

/* .elements {
    display: display-4;
    font: font-weight-back;
    font-color: cyan--text;
    margin-

} */
</style>
