<template>
    <v-container>
        <v-layout column>
            <v-flex class="display-2 text-xs-center my-5"> big</v-flex>
            <v-flex xs12 md6>
                <div class="headline mt-3">Lorem ipsum</div>
                <p class="subheading mt-3">
                    Lorem ipsum dolor sit amet but it is not the time to hey
                </p>
            </v-flex>
            <v-flex>
                <div class="headline mt-3">Lorem ipsum</div>
                <p class="subheading mt-3">
                    alabalbfzedulkezdheuzhjezbde ,dehd
                </p>
                <p class="subheading mt-3">
                    Nulla nec massai bblablabalabalbfzedulkezdheuzhjezbde ,dehd
                </p>
                <p class="subheading mt-3">
                    Nulla nec massai bblablabalabalbfzedulkezdheuzhjezbde ,dehd
                </p>
            </v-flex>
            <v-flex>
                <div class="headline mt-3">Lorem ipsum</div>
                <p class="subheading mt-3">Nullam esto es buene</p>
            </v-flex>

            <div>
                <v-row justify="center" align="center">
                    <v-subheader>Offset Top</v-subheader>
                    {{ offsetTop }}
                </v-row>
                <v-container
                    id="scroll-target"
                    style="max-height: 400px"
                    class="overflow-y-auto"
                >
                    <v-row
                        v-scroll:#scroll-target="onScroll"
                        align="center"
                        justify="center"
                        style="height: 1000px"
                    >
                    </v-row>
                </v-container>
            </div>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    name: 'HomeDetails',
    data() {
        return {
            offsetTop: 0
        };
    },
    methods: {
        onScroll(e) {
            this.offsetTop = e.target.scrollTop;
        }
    }
};
</script>

<style scoped></style>
