<template>
    <span>
        <home-hero></home-hero>
        <home-stmts></home-stmts>
        <home-impacters></home-impacters>
        <home-missions></home-missions>
        <!-- <home-validation></home-validation> -->
        <home-details></home-details>
        <test-store></test-store>
    </span>
</template>

<script>
import HomeHero from '@/components/HomeHero';
import HomeDetails from '@/components/HomeDetails';
import HomeStmts from '@/components/HomeStmts';
import HomeImpacters from '@/components/HomeImpacters';
import HomeMissions from '@/components/HomeMissions';
// import HomeValidation from '@/components/HomeValidation';
import TestStore from '@/components/TestStore';

export default {
    name: 'Home',
    components: {
        HomeHero,
        HomeDetails,
        HomeStmts,
        HomeImpacters,
        HomeMissions,
        // HomeValidation,
        TestStore
    }
};
</script>
